<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <div class="expand-width" data-depth="0.5">
                                <a href="/">
                                    <img height="70%" width="70%" src="~/assets/images/logo/qtlogo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <p class="short-desc mb-2">
                            Thời gian hoạt động:                             Từ 08:00 - 21:00 (hằng ngày)

                        </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Địa chỉ: 10 Huỳnh Văn Nghệ, Bửu Long, Thành phố Biên Hòa, Đồng Nai
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://quangquy297@gmail.com">quangquy297@gmail.com</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">THÔNG TIN</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="gioi-thieu">GIỚI THIỆU</a>
                            </li>
                            <li>
                                <a href="page/huong-dan-mua-hang">HƯỚNG DẪN MUA HÀNG</a>
                            </li>
                            <li>
                                <a href="tin-tuc">TIN TỨC</a>
                            </li>
                            <li>
                                <a href="lien-he">LIÊN HỆ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    @*<div class="widget-item">
                        <h3 class="widget-title mb-5">TÀI KHOẢN</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">TÀI KHOẢN CỦA TÔI</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">THANH TOÁN</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Wishlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Terms of Use</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                        </ul>
                    </div>*@
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">ĐỂ LẠI MAIL, NHẬN ƯU ĐÃI</h3>
                        <p class="short-desc">HÃY ĐỂ LẠI MAIL NHẬN NHIỀU ƯU ĐÃI HƠN.</p>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Email của bạn">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*    <div class="footer-bottom py-3" data-bg-color="#e20d0d">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2021 Harmic Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">HasThemes</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@</div>
