@using System.Security.Claims
@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var roleOfUser = claimsIdentity != null ? string.Join(", ", claimsIdentity.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).ToList()) : "User";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <!-- Core css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet" />

    <!-- page css -->
    <link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/adminassets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">

    <link href="~/adminassets/css/app.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/adminassets/images/logo/qtfavicon.png">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            <div class="header">
                <div class="logo logo-dark">
                    <a href="/">
                        <img src="~/adminassets/images/logo/qtlogo.png" alt="Logo" height="65px" width="200" />
                    </a>
                </div>

                <div class="nav-wrap">
                    <ul class="nav-left">
                        <li class="desktop-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                        <li class="mobile-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-brand">@Html.DisplayName(roleOfUser) | </li>
                            <li>
                                <a asp-area="Admin" asp-controller="AdminLogin" asp-action="AdminLogout" type="button" class="btn btn-danger btn-tone m-r-5">
                                    Đăng xuất
                                </a>
                            </li>

                        }
                    </ul>

                </div>
            </div>
            <!-- Header END -->
            <!-- Side Nav START -->
            @await Html.PartialAsync("_SideNavPartialView")
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">

                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content">
                        <p class="m-b-0">Copyright © 2019 Theme_Nate. All rights reserved.</p>
                        <span>
                            <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
                            <a href="" class="text-gray">Privacy &amp; Policy</a>
                        </span>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->
        </div>
    </div>

    <!-- Core Vendors JS -->
    <script src="~/adminassets/js/vendors.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Popper.js and Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Chart.js -->
    <script src="~/adminassets/vendors/chartjs/Chart.min.js"></script>

    <!-- DataTables -->
    <script src="~/adminassets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminassets/vendors/datatables/dataTables.bootstrap.min.js"></script>

    <!-- Custom app JS -->
    <script src="~/adminassets/js/app.min.js"></script>
    <script src="~/adminassets/js/pages/dashboard-e-commerce.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
