@model QTComputer.Models.Customer

@{
    ViewData["Title"] = "Sửa thông tin khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="breadcrumb-item">Danh sách khách hàng</a>
            <span class="breadcrumb-item active">Thông tin khách hàng</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@Model.CustomerId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="Avatar" />
    <input type="hidden" asp-for="CreateDate" />
    <input type="hidden" asp-for="Password" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="col-md-8"></div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin khách hàng</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Họ tên</label>
                        <input type="text" class="form-control" asp-for="FullName">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ShortDesc">Địa chỉ</label>
                        <input type="text" class="form-control" asp-for="Address">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ShortDesc">Email</label>
                        <input type="text" class="form-control" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="ShortDesc">Điện thoại</label>
                        <input type="text" class="form-control" asp-for="Phone">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="Avatar" />
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Public</label>

                        <div class="switch m-r-10">
                            <input type="checkbox" asp-for="Active" checked="">
                            <label for="Active"></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


