@model QTComputer.Models.Page
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = $"/page/{Model.PageId}";
}
<main class="main-content">
    <div class="breadcrumb-area" style="height:120px">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h1 class="breadcrumb-heading">@Model.PageName</h1>
                    <ul>
                        <li>
                            <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>@Model.PageName</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-detail-item">
                    <div class="blog-content text-start pb-0">
                        <div class="blog-meta text-dim-gray pb-3">
                        </div>
                        @Html.Raw(Model.Contents)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>